.navbar{
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #FFFFFF;
}
.nav-logo{
  width: 31.31px;
  height: 26.22px;
}
.nav-brand{
  font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20.7482px;
line-height: 24px;
letter-spacing: -0.1em;
color: #FFFFFF;

}
.nav-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.text-input{
  width: 230px;
  height: 35px;
}
.btn{
  
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  
}
.meme--image{
  
  width: 25%;
  height: 25%;
}
.meme{
  position: relative;
}
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}
.bottom {
  bottom: 0;
}

.top {
  top: 0;
}